<!-- <nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Aleeby</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="active-link">Register</a>
          </li>
        </ul>
      </div>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Abeely</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="contact" routerLinkActive="active-link">Contact </a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0"> -->
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="#">Search</button>
        </form>
      </div>
    </div>
  </nav> -->




  <div class="container">
    <div id="nameApp"></div>
    <nav>
     
      <ul>

        <li id="logo" routerLink="" routerLinkActive="active-link">
          <span>SO</span>by 
        </li>
        
        <li routerLink="" routerLinkActive="active-link">
          Home 
        </li>
       
        <!-- <li routerLink="contact" routerLinkActive="#">
          Services 
        </li> -->
        <li routerLink="#" routerLinkActive="active-link" class="L">
         Tops >
          <ul class="categories">
            <li><a href="">coats</a></li>
            <li><a href="">Shirts</a></li>
            <li><a href="">Jackets</a></li>
            
          </ul>
        </li>
        <li routerLink="#" routerLinkActive="active-link" class="L">
         Bottoms >
           <ul class="categories">
             
             <li><a href="">skirts</a></li>
             <li><a href="">shorts</a></li>
             
           </ul>

         </li>
         <li routerLink="#" routerLinkActive="active-link" class="L">
          Dresses  
          </li>
          <li routerLink="#" routerLinkActive="active-link" class="L">
             Bages </li>
        
        <li routerLink="login" routerLinkActive="active-link">
         
        </li>
         
        <li routerLink="register" routerLinkActive="active-link">
          Client
        </li>
      </ul>
    </nav>
  </div>
