<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4 " *ngFor="let product of cloData">
            <div class="foodbox mt-3 mb-3">
                <img src="{{product.productImg}}">
                <h1 class="text-center">{{product.productName}}</h1>
                <p class="text-center">{{product.productDetails}}</p>
                <p class="text-center">{{product.productPrice | currency: '$'}}</p>
                <a class="buybtn" [routerLink]="['/menu',product.id]">ORDER NOW <i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>