<div class="mb-3">
    <label for="typevehicule" class="form-label">Category Name</label>
<input type="text" class="form-control" #categoryname>
</div>
<div class="mb-3">
    <label for="nummatricule" class="form-label">Category details</label>
<input type="text" class="form-control" #categorydetails rows="3">
</div>

<div class="mb-3">
    <label for="imagevehicule" class="form-label">Image Category</label>
<input type="text" class="form-control" #categorytimg>
</div>
<div>
    <button type="button"   class="btn btn-success" >Add</button>
</div>
