
<div class="container">
    <div class="card">
            <div class="mb-3">
                <label for="typevehicule" class="form-label">Product Name</label>
            <input type="text" class="form-control" #productname>
            </div>
            <div class="mb-3">
                <label for="nummatricule" class="form-label">Product details</label>
            <input type="text" class="form-control" #productdetails rows="3">
            </div>
            
            <div class="mb-3">
                <label for="nummatricule" class="form-label">Product price</label>
            <input type="number" class="form-control" #productprice rows="3">
            </div>
            
            <div class="mb-3">
                <label for="imagevehicule" class="form-label">Product Image </label>
            <input type="text" class="form-control" #producttimg>
            </div>
            
            <div class="mb-3">
                <label for="imagevehicule" class="form-label">Quantity </label>
            <input type="text" class="form-control" #quantity>
            </div>
            
            <div class="mb-3">
                <label for="imagevehicule" class="form-label">Category</label>
                <input type="text" class="form-control" #category>
            </div>


       </div>


<div>
    <button type="button"   class="btn btn-success ps-5 pe-5 ms-5 mt-2 " (click)="add(productname.value ,productdetails.value,productprice.value, producttimg.value , quantity.value , category.value );productname.value='';productdetails.value=''; productprice.value=''; producttimg.value='' ; quantity.value='' ; category.value=''">Add</button>
</div>
</div>


